.content{
  width: 100%;
  display: block;
  header{
    height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    h1{
      font-size: 28px;
      margin: 0;
      font-weight: 300;
    }
  }
  main{
    height: calc(100vh - 64px);
    @include vertical-scroll();
  }
}